@model MyVibes.Models.ViewModels.DetailArtist

@{
    ViewBag.Title = "Detail";
}




<div class="back-link">
    <a href="/Artist/List">Back to My Artists</a>   
</div>
<h2 class="title">About @Model.artist.StagePersona</h2>
<div class="crud-update">
    <a  class="crud-link" href="/Artist/Update/@Model.artist.ArtistID">Update</a>
    <a  class="crud-link" href="/Artist/DeleteConfirm/@Model.artist.ArtistID">Delete</a>
</div>
<div class="artist-container">

    <div class="artist-info">
        <div class="itemimage">
            @{
                if (Model.artist.HasPic == 1)
                {
                    <img src="../../Content/Artists/@(Model.artist.ArtistID).@(Model.artist.PicExtension)" alt="Image of @Model.artist.StagePersona" />
                }
            }
        </div>
        <div>Full Name: @Model.artist.RealName</div>
        @{
            //Since the default for Age is -1 if an age was inputed it can be displayed otherwise its ignored
            //Age is the only oen we ignored because it is not applicable to every artist (i.e. A band does not display age)
            if (@Model.artist.Age > 0)
            {
                <div>Age: @Model.artist.Age</div>

            }

        }

        <div>Active Since:@Model.artist.StartYear</div>
        <div>
            Bio:
            <div class="Bio">
                @Model.artist.Bio
            </div>
        </div>

    </div>
    <!-- TO DO: Songs that the Artist has-->
    <div class="songs-artist-info">
        <div>Songs by the Artist:</div>
        @{

            foreach (var song in @Model.songs)
            {
                <div class="song-info">
                    <a href="/Song/Detail/@song.SongID">@song.SongName</a>
                    @{
                        //Rare instance of a double GET parameter
                        //we are passing a link which contains the ownerID and petID
                    }
                </div>
            }

        }
    </div>
</div>