@model MyVibes.Models.ViewModels.DetailSong

@{
    ViewBag.Title = "Detail";
}
    <div class="back-link">
        <a href="/Song/List">Back to My Songs</a>

    </div>
<h2 class="title">@Model.song.SongName</h2>

<div class="crud-update">
    <a class="crud-link" href="/Song/Update/@Model.song.SongID">Update</a>
    <a class="crud-link" href="/song/DeleteConfirm/@Model.song.SongID">Delete</a>
</div>


<div class="songs-container">

    <div class="about-info">
        <div class="about-song" style="text-align:center">Duration: @Model.song.Duration</div>
        <div class="about-song" style="text-align:center" >Genre: @Model.song.Genre</div>
        <div class="about-song" style="text-align:center">Release Date: @Model.song.ReleaseDate</div>
    </div>
    <div class="artists-info">
        <div>Artists in this song:</div>
        @{

            foreach (var artist in @Model.artists)
            {
                <div class="artist-info">
                    <a href="/Artist/Detail/@artist.ArtistID">@artist.StagePersona</a>
                    <div class="itemimage">
                        @{
                            if (artist.HasPic == 1)
                            {
                                <img src="../../Content/Artists/@(artist.ArtistID).@(artist.PicExtension)" alt="Image of @artist.StagePersona" />
                            }
                        }
                    </div>
                    @{
                        //Rare instance of a double GET parameter
                        //we are passing a link which contains the ownerID and petID
                    }
                    <a href="/Song/DetachArtist/@Model.song.SongID?ArtistID=@artist.ArtistID">
                        Remove Artist
                    </a>
                </div>
            }

        }
        <form method="post" action="/Song/AttachArtist/@Model.song.SongID">
            <div class="form-style">
                <select name="ArtistID" id="ArtistID">
                    @{
                        // Shows if they want to add an Artist to a song

                        foreach (var artist in Model.all_artists)
                        {
                            <option value="@artist.ArtistID">
                                @artist.StagePersona
                            </option>
                        }
                    }
                </select>
                <input type="submit" value="Add Artist" class="form-style" />
            </div>
        </form>

    </div>
    <div class="playlists-partof">
        <div>Appears in Playlist:</div>
        @{

            foreach (var playlist in @Model.playlits)
            {
                <div class="playlist-info">
                    <a href="/Playlist/Detail/@playlist.PlaylistID">@playlist.PlaylistName</a>
                    @{
                        //Rare instance of a double GET parameter
                        //we are passing a link which contains the ownerID and petID
                    }
                </div>
            }

        }
    </div>
    
</div>

