@model MyVibes.Models.Song
@{
    ViewBag.Title = "Update";
}
    <div class="back-link">
        <a href="/Artist/List">Back to My Songs</a>
    </div>

<h2 class="title" >Update @Model.SongName</h2>
<form method="post" action="/Song/Update/@Model.SongID" class="form-style">
    <div class="input">
        <span>Name: </span>
        <input type="text" value="@Model.SongName" name="SongName" id="SongName" />
    </div>
    <div class="input">
        <span>Duration: </span>
        <input type="text" value="@Model.Duration" id="Duration" name="Duration" />
    </div>
    <div class="input">
        <span>Genre: </span>
        <input id="Genre" type="text" value="@Model.Genre" name="Genre" />
    </div>
    <div class="input">
        <span>Release Date: </span>
        <input id="ReleaseDate" type="datetime" value="@Model.ReleaseDate" name="ReleaseDate" />
    </div>

    <button type="submit" class="button">Update</button>
    <div>
        <a class="navlink" href="/Song/List">Cancel</a>
    </div>
</form>

